---
const { badgeText, badgeIcon = null } = Astro.props
---
<span
        class="text-xs flex flex-row rounded-full dark:bg-blue-300/10 bg-blue-400 px-2 py-1 text-white dark:text-blue-400 mr-5 animate-moveDown transition-all duration-300"
        set:html={badgeText+badgeIcon}
        >
</span>