---
const { badgeText, badgeIcon = null, badgeColor, animate=false } = Astro.props;
---

<div class="inline-flex   relative align-middle justify-center">
  <span
    class=` shadow-custom dark:shadow-[rgba(37,44,79,0.4)] text-xs flex w-auto h-6 flex-row rounded-full dark:bg-[#1c2945] bg-${badgeColor} px-2 py-1 text-white dark:text-${badgeColor} mr-5 animate-moveDown transition-all duration-300 `
    set:html={badgeText + (badgeIcon ||'')}
  >
    
  </span>
  {animate && (<span
        class=`animate-ping absolute h-6 w-2/3 border-2 rounded-full border-${badgeColor} opacity-20`
      ></span>)}
      
      
      <!-- esto es para la animacion del pulse -->
      <!-- <span
      class="relative flex size-3"
    >
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-400 opacity-75"
      ></span>
      <span
        class="relative inline-flex size-3 rounded-full bg-sky-500"
      ></span>
    </span> -->
    <!-- esto es para la animacion del pulse -->
</div>
