---
---
<div class="group grid grid-flow-col grid-cols-2 grid-rows-2 gap-4 pr-10 h-2/3 w-2/3">
   
    <div class="z-10 row-start-2 col-start-2 h-fit rotate-6 lg:group-hover:scale-85 lg:group-hover:translate-y-10 lg:group-hover:translate-x-1   lg:group-hover:rotate-0 lg:transition-all lg:duration-500"><img class="rounded-lg  shadow-xl shadow-gray-800" src="/src/assets/codeCssDark.png" alt="" loading="lazy"></div>
    
    <div class="h-fit row-start-2 col-start-1 -rotate-12 lg:group-hover:rotate-0 lg:group-hover:translate-y-10 lg:group-hover:translate-x-1 lg:group-hover:scale-85 lg:transition-all lg:duration-500"><img class="rounded-lg  shadow-xl shadow-gray-800" src="/src/assets/codeJsDark.png" alt="" loading="lazy"></div>
    <div class="row-start-1 col-span-2 h-fit -rotate-6 lg:group-hover:rotate-0 lg:group-hover:scale-85 lg:transition-all lg:duration-500"><img class="rounded-lg  shadow-xl shadow-gray-800" src="/src/assets/codeReactDark.png" alt="" loading="lazy"></div>
  </div>


