---
---
<div class=" grid grid-flow-col grid-cols-2 grid-rows-2 gap-4 pr-10">
   
    <div class="row-start-2 col-start-2 h-fit rotate-6"><img class="rounded-lg" src="/src/assets/codeCssDark.png" alt="" loading="lazy"></div>
    
    <div class="h-fit row-start-2 col-start-1"><img class="rounded-lg" src="/src/assets/codeJsDark.png" alt="" loading="lazy"></div>
    <div class="row-start-1 col-span-2 h-fit -rotate-6"><img class="rounded-lg" src="/src/assets/codeReactDark.png" alt="" loading="lazy"></div>
  </div>


