---
import { dictionary } from "../data/dictionary";

import { iconCoder } from "../data/iconCoder";
const { defaultLanguage } = Astro.props;
---
<!-- bg-[#101828] -->
<section class="flex flex-col gap-5 justify-center items-center bottom-0 align-bottom w-auto py-3 mt-7 px-6 pb-1 bg-[#12435f] mx-4 my-6 rounded-xl">
  <section class=" flex justify-between w-full">
    <h2 class="text-2xl flex-1 flex items-end align-bottom justify-center">¿Tienes algun proyecto en mente?</h2>
    <div class="flex-1">
      <div class="grid grid-cols-2 pt-5">
        <div class="col-span-2 lg:col-span-1">
          <div class="flex flex-col">
            <div
              class="w-full flex-none text-lg dark:text-gray-200 font-bold leading-none"
            >
              Contacto de WhatsApp
            </div>
            <div class="flex flex-row dark:text-gray-400 my-1">
              <span class="mr-3"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"
                  ></path></svg
                ></span
              ><span class="mr-3 border-r border-gray-600 max-h-0"
              ></span><a
                class="flex flex-col group"
                href="https://wa.me/59891276549?text=Hola,%20quiero%20más%20información%20sobre%20sus%20servicios"
                target="_blank"
              >
                <span
                  class="group-hover:-translate-x-1/4 group-hover:opacity-0 transition duration-200"
                  >+598 91276549</span
                ><span
                  class="text-xs group-hover:-translate-y-4 group-hover:scale-110 duration-500 inline-flex"
                  >Chatea conmigo en WhatsApp </span
                >
              </a>
            </div>
          </div>
        </div>
        <div class="col-span-2 lg:col-span-1">
          <div class="flex flex-col">
            <div
              class="w-full flex-none text-lg dark:text-gray-200 font-bold leading-none"
            >
              Email
            </div>
            <div class="flex flex-row dark:text-gray-400 my-1">
              <span class="mr-3"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"
                  ></path></svg
                ></span
              ><span class="mr-3 border-r border-gray-600 max-h-0"
              ></span><a
                class="flex flex-col group"
                href="mailto:ivan88rodriguezrojas@gmail.com?subject=Consulta&body=Hola,%20quiero%20más%20información%20sobre%20sus%20servicios."
                target="_blank"
              >
                <span
                  class="group-hover:-translate-x-1/4 group-hover:opacity-0 transition duration-200"
                  >ivan88rodriguezrojas@gmail.com</span
                >
                <span
                  class="text-xs group-hover:-translate-y-4 group-hover:scale-110 duration-500"
                  >Envíame un correo ahora</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div
  class="grid grid-cols-1 lg:grid-cols-3 "
>
  <div class="lg:col-start-2 flex flex-col justify-center items-center">
    
   
    <h6 class="text-xs text-white">
      {dictionary[defaultLanguage]?.created}
      <span class="font-bold">@Iván Rodríguez Rojas 2025 </span>
    </h6>
    <div class="lg:col-span-1 text-[#38d5f8] scale-50 hover:scale-[0.6] transition duration-150" set:html={iconCoder} ></div>
    
  </div>
</div>
</section>

