---
import { dictionary } from "../data/dictionary";

import { iconCoder } from "../data/iconCoder";
const { defaultLanguage } = Astro.props;

/*const api = await fetch("http://localhost:3000/")
const {visitsCount} = await api.json()*/
---
<!-- bg-[#101828] -->
<section class="flex flex-col gap-5 justify-center items-center bottom-0 align-bottom w-auto py-5 mt-7 px-6  bg-[#12435f] mx-4 my-6 rounded-xl">
  
  
  <div
  class="grid grid-cols-1 lg:grid-cols-3 "
>
  <div class="lg:col-start-2 flex flex-col justify-center items-center">
    
    <div class="lg:col-span-1 text-[#38d5f8] scale-50 hover:scale-[0.6] transition duration-150" set:html={iconCoder} ></div>
    <h6 class="text-xs text-white">
      {dictionary[defaultLanguage]?.created}
      <span class="font-bold">@Iván Rodríguez Rojas 2025 </span>
    </h6>
    
    <!--<div>{visitsCount}</div>-->
    
  </div>
</div>
</section>

