---
const logo = "/src/assets/logo1.png";

const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/projects", text: "Projects" },
  { href: "/contact", text: "Contact" },
];
---

<nav
  class="bg-gray-800 bg-opacity-70 backdrop-blur-md top-0 left-0 fixed w-full h-32 z-[9999] flex items-center justify-between px-6 border-b-[.1px] border-blue-400 animate-moveDown"
>
  {/* Contenedor del logo */}
  <div class=" flex lg:h-24 sm:h-16 items-center  ">
    
    <img class="w-full h-full z-10 rounded-lg object-cover hover:scale-105 transition-all duration-300" src={logo} alt="Logo del negocio" />
    
  </div>

  {/* Contenedor del menú */}
  <div class="flex items-center">
    <ul class="flex space-x-6">
      {
        links.map((link) => (
          <li class="group transition duration-200 flex items-center ">
            <span class="text-yellow-200 text-2xl opacity-0 group-hover:opacity-100">
              &lt;
            </span>
            <a
              class="text-white uppercase group-hover:p-2 transition-all duration-200"
              href={link.href}
            >
              {link.text}
            </a>
            <span class="text-yellow-200 text-2xl opacity-0 group-hover:opacity-100">
              /&gt;
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
