---
import {icons} from "../data/icons"
---

<div
  id="container-sidebar"
  class="max-sm:hidden z-10 h-screen w-20 bg-gradient-to-b from-[#5c2774] to-[#2b1a3d] bg-opacity-15 pl-3 pr-5 flex flex-col justify-center fixed top-0 left-0"
>
  <ul class="flex flex-col h-[100%] justify-between pt-10 pb-10">
    {icons.map((icon) => (
      <li class="inline-flex justify-center flex-wrap mb-4 group">
        <span class="icon" set:html={icon.svgcolor}></span>
        <span class="text-xs">{icon.icon}</span>
      </li>
    ))}
  </ul>
  
</div>
