---
const colors = {
  primary: "#0b3c67",
  secondary: "#0b3c67",
};

---

<div
  class="object-cover overflow-hidden w-full sm:h-32 lg:h-64 sm:absolute lg:absolute lg:top-[320px] left-0"
>
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%;"
    class="dark:fill-[#2d2e32] fill-gray-200"
    ><path
      d="M-4.79,96.22 C149.99,150.00 288.09,-94.22 504.79,46.88 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none;"></path></svg
  >
</div>
