---

---

<div
  class="object-cover overflow-hidden w-full h-64 absolute top-[320px] left-0"
>
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%;"
    ><path
      d="M-4.79,96.22 C149.99,150.00 288.09,-94.22 504.79,46.88 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #0b3c672a;"></path></svg
  >
</div>
