---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<!-- Aquí está el checkbox para cambiar el tema -->
    <input type="checkbox" id="switch_theme" class="hidden" />
    <label
      for="switch_theme"
      class="cursor-pointer p-2 bg-gray-300 dark:bg-gray-600 rounded"
    >
      Switch Theme
    </label>
	<h1 class="text-base text-end">Tailwind CSS</h1>
</div>


