---
import Sidebar from "../../components/Sidebar.astro";
import Welcome from "../../components/Welcome.astro";
import Layout from "../../layouts/Layout.astro";
import Technology from "../../components/Technology.astro";


import Footer from "../../components/Footer.astro";
import SectionTech from "../../components/SectionTech.astro";
import NavBar from "../../components/NavBar.astro";
import Welcome from "../../components/Welcome.astro";
import { dictionary } from "../../data/dictionary";
import Wave from "../../components/Wave.astro";

export async function getStaticPaths() {
  return [
    {
      params: { lang: "es" },
      props: { language: "Español" },
    },
    {
      params: { lang: "en" },
      props: { language: "English" },
    },
  ];
}

const { language } = Astro.props;


const defaultLang = language;
/* let language = defaultLang;
if (typeof document !== 'undefined') {
  language = document.cookie.replace(/(?:(?:^|.*;\s*)language\s*\=\s*([^;]*).*$)|^.*$/, "$1") || defaultLang;
} 
 */
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Ivan Rodriguez Rojas FrontEnd Developer">
  <NavBar defaultLanguage={language} />
  <SectionTech defaultLanguage={defaultLang} />
  <Wave />
  <span class="hidden" id="lang" data-lang={defaultLang}></span>

  <!-- <div class=""><Sidebar /></div> -->

  <div class="grid grid-cols-1 left-0 w-full bg-[#0b3c672a] min-h-screen">
    <main class="pl-10 pr-10">
      <Technology />
      <Welcome />

      <Welcome />
      <Welcome />
      <Welcome />
      <div id="about">
        <label >About</label>
      </div>
      <div id="contact">
        <label >Contact</label>
      </div>
    </main>
    <Footer defaultLanguage={defaultLang} />
  </div>
</Layout>
