---

import Welcome from "../../components/Welcome.astro";
import Layout from "../../layouts/Layout.astro";
import Technology from "../../components/Technology.astro";




import Skills from "../../components/Skills.astro";
import Graph from "../../components/Graph.astro";

export async function getStaticPaths() {
  return [
    {
      params: { lang: "es" },
      props: { language: "es" },
    },
    {
      params: { lang: "en" },
      props: { language: "en" },
    },
  ];
}

const { language } = Astro.props;


/* ESCALA DE COLORES DESDE EL MAS OSCURO HASTA ELMAS clearTimeout
#101828
#1e2939
#334155
#262f3d (footer)
*/

/* const defaultLang = language; */
/* let language = defaultLang;
if (typeof document !== 'undefined') {
  language = document.cookie.replace(/(?:(?:^|.*;\s*)language\s*\=\s*([^;]*).*$)|^.*$/, "$1") || defaultLang;
} 
 */
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Ivan Rodriguez Rojas FrontEnd Developer" defaultLanguage={language} >
   <div class="grid grid-cols-1 left-0 w-full bg-gray-200 dark:bg-[#1e2939] min-h-screen">
    <main class="px-10">
      <Technology defaultLanguage={language} />
      
      <div class="flex items-center justify-center">
      <Skills defaultLanguage={language} />
      </div>
      <Welcome />
      <div id="about">
      <label >About whats</label>
      </div>
      <div id="contact">
      <label >Contact</label>
      </div>
      <Graph/>
    </main>
  </div>
</Layout>

<!-- <script is:inline>
 
const updateBreadcrumb = () => {
  const breadcrumb = document.getElementById("breadcrumb");
  if (breadcrumb) {
    breadcrumb.innerHTML = window.location.pathname;
  }
};

window.addEventListener("popstate", updateBreadcrumb);
window.addEventListener("languagechange", updateBreadcrumb);
updateBreadcrumb();
</script> -->
