---
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import SectionTech from "../components/SectionTech.astro";
// Astro Script: Llamamos a la función getUser() y renderizamos la imagen
import { getUser } from "../services/GetUser.astro";

const {data} = await getUser();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro.generator" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Astro Basics</title>
  </head>
  <body class="bg-cyan-100 text-gray-900 text-gray-900 dark:bg-gray-900 dark:text-white flex flex-row ">
    <!-- <div class=""><Sidebar /></div> -->
    <div
      class="flex-1 flex flex-col ml-28"
    >
      <div class="w-full flex justify-end absolute top-5 right-0 pr-3 ">
        <div class="max-sm:hidden">
          <img
            id="img-user"
            class="w-[210px] h-[200px] rounded-full animate-moveDown"
            src={data?.results[0].picture?.large}
            alt={data?.results[0].name?.first || "Default User"}
          />
        </div>
      </div>
      <SectionTech/>
      <slot />
      <Footer />
    </div>
  </body>
</html>
