---
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import SectionTech from "../components/SectionTech.astro";
import NavBar from "../components/NavBar.astro";
import Welcome from "../components/Welcome.astro";
import { dictionary } from "../data/dictionary";
import Wave from "../components/Wave.astro";

const defaultLanguage = "es";
let language = defaultLanguage || "en";
/* function changeLanguage(event: Event) {
   const target = event.currentTarget;
  if (target) {
    language = (target as HTMLElement).getAttribute("data-language") || defaultLanguage;
    alert(language)
  } 
} */
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro.generator" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Font Jost -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Astro Basics</title>
  </head>
  <!-- bg-customBackground bg-repeat bg-cover -->
  <body
    class="h-full grid grid-cols-1 text-gray-900 dark:bg-gray-900 dark:text-white font-jost bg-customBackground bg-repeat bg-cover"
  >
    <NavBar defaultLanguage={language} />
    <SectionTech defaultLanguage={language}/>
    <Wave />
    <span class="hidden" id="lang" data-lang={language}></span>
    <!-- <div class=""><Sidebar /></div> -->

    <div
      class=" grid grid-cols-1 left-0 w-full bg-[#0b3c672a] min-h-screen"
    >
      <main class="pl-10 pr-10">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script>
  /* document.addEventListener("DOMContentLoaded", () => {
    const languageIcons = document.querySelectorAll(".language-icon");
    languageIcons.forEach((icon) => {
      icon.addEventListener("click", () => {
        alert(`You clicked on the ${icon.getAttribute("data-language")} icon!`);
        
      });
    });
  }); */
</script>
